<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    Book Marketplace
  </title>

  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

   <!-- ucitaj css ako sam ga poslo -->
  <% if (typeof css !=='undefined' ) { %>
    <link rel="stylesheet" href="<%= css %>">
    <% } %>


    
</head>




<body>
  <!-- <h1 style="color: red;">LAYOUT TEST</h1> -->
 <script src="/socket.io/socket.io.js"></script>
    <script>    window.socket = io();    </script>


<header>  
    <nav class="navbar navbar-expand-lg shadow-sm" style="background-color:#dbeafe;">
      <div class="container">
        <a class="navbar-brand fw-bold text-primary" href="/">
          📚 Book Marketplace
        </a>

        <div class="ms-auto text-muted small">
          Kupuj • Prodaj • Razmjenjuj knjige
        </div>
      </div>
    </nav>
</header>


  <%- body %>

    <!-- Ovdje se ubacuje sadržaj svake EJS stranice -->


    <script src="/jquery/jquery.min.js"></script>

    <script>
      console.log("TEST → jQuery =", typeof $);
      $(document).ready(function () {
        console.log("TEST → jQuery radi! 🎉");
      });


    </script>


 
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/javascripts/JS_ZA_login_users.js"></script>
    <script src="/javascripts/JS_ZA_ProfilOdUsera.js"></script>
    <script src="/javascripts/JS_ZA_ProfilOdBuyera.js"></script>
    <script src="/javascripts/JS_ZA_cart.js"></script>


    

   




    <script>
      const USER_ID = <%- JSON.stringify(user ? user.id : null) %>
      console.log("USER_ID iz layouta:", USER_ID);
      if (USER_ID) {
          socket.emit("register_user", USER_ID);
          console.log("User registered on socket:", USER_ID);
        }



      socket.on("receive_admin_alert", function (data) {
        alert("Poruka od Admina: " + data.message);      });

      
     

    </script>



</body>

</html>